.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-align: center;
  margin: 30px 0px;
}

.heading-icon{
  width: 60px;
  margin: 0px -8px;
}
